a {
    text-decoration: none;
    padding-left: 20px;
    margin-top: 15px;
    text-align: center;
    font-size: large;
    color: white;
}

.navbar{
    width: 1500px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #0F172A;
    
}

.navbar:hover{
    box-shadow: 0 4px 15px rgba(255, 217, 0, 0.989);
}

.navbar a:hover{
    text-decoration: underline gold;
}

main h2{
    background-color: #0F172A;
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 250px;
    display: flex;
    padding: 15px 0px 0px 15px;
}

main h2:hover{
    box-shadow: 0 4px 15px rgba(255, 217, 0, 0.989);

}
.about-me{
    border-radius: 15px;
}

.about-me p{
    height: 100px;
    padding: 10px 0 0 10px;
    transition: 0.3s;
}

.about-me:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}



.footer {
    background-color: #0F172A;
    border: 2px solid black;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;

}
.footer:hover{
    box-shadow: 0 4px 15px rgba(255, 217, 0, 0.989);
}

.footer a{
    color: white;
}

.footer a:hover{
    text-decoration: underline gold;
}